@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
}

header {
  padding: 15px 24px;
  font-family: "Arial, Helvetica", sans-serif;
  justify-content: space-between;
  display: flex;
  color: rgb(255, 255, 255);
  box-sizing: border-box;
  width: 100%;
  background: #3c3a39;
}

.image-hero {
  display: none;
}

header .logo {
  color: #fff;
  text-decoration: none;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px;
  gap: 12px;
  width: 100%;
  background: #1c1a19;
  background-position: bottom right;
  background-repeat: no-repeat;
}

.content-home h1 {
  font-family: "Arial, Helvetica", sans-serif;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.3px;
  color: #ff6b00;
}

.content-home h2 {
  font-family: "Arial, Helvetica", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff;
}

.content-home p {
  font-family: " Arial, Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.hero {
  display: flex;
  background-color: #1c1a19;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  width: 100%;
  align-items: flex-start;
  flex-direction: column;
  list-style: none;
  justify-content: flex-start;
}

.icon {
  /* border-bottom: 2px solid #6f6c6b; */
  padding: 40px 40px 15px;
}

.social {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  vertical-align: bottom;
  line-height: 1.22;
  max-width: 200px;
}

hr {
  position: absolute;
  width: 327px;
  height: 0;
  border: 1px solid #212121;
  flex: none;
  flex-grow: 0;
}

.menu-popup {
  background-color: #fff;
  z-index: 1;
  display: none;
}

.desktop-popup {
  display: none;
}

.seeproject {
  position: absolute;
  margin: 16px;
  background-color: #fff;
  border: 1px solid #dfe1e6;
  flex-direction: column;
  align-items: center;

  /* transform: translate(-50%, -50%) scale(1); */
  transition: transform 0.4s, top 0.4s;
  display: flex;
  gap: 24px;
  width: 90%;
  height: 100%;

  /* overflow: auto; */
  z-index: 10;

  /* visibility: hidden; */

  /* display: none; */
}

/* .seeproject:active {
  opacity: 0;
} */

.project-list ul {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin-left: -48px;
  gap: 12px;
  display: flex;
  justify-content: flex-start;
}

.work-item-alt li {
  list-style: none;
  background: rgba(255, 255, 255, 0.24);
  align-items: center;
  padding: 10px 12px;
  border: 1px solid rgba(255, 255, 255, 0.24);
  font-size: 15px;
  font-style: normal;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  line-height: 20px;
  float: inline-start;
  color: white;
  margin-left: 0;
}

.work-item li {
  border: 1px solid #8993a4;
  padding: 10px;
  color: #091e42;
  list-style: none;
}

.project-list ul li {
  margin-bottom: 24px;
  padding: 10px;
  color: #091e42;
  border: 1px solid #8993a4;
  list-style: none;
}

.project-header {
  padding: 20px;
  margin: auto;
  width: 80%;
  justify-content: space-between;
  align-items: center;
}

.project-title {
  margin-left: -38px;
  font-family: 'Roboto', cursive;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.cross {
  position: absolute;
  top: 28px;
  right: 20px;
  border: none;
  color: #67798e;
  float: right;
  outline: none;
  background: none;
  mix-blend-mode: multiply;
  font-size: 28px;
  font-weight: bold;
}

.hub {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  gap: 12px;
  width: 90%;
}

.power {
  background-color: #ff6b00;
  padding: 12px;
  font-size: 17px;
  color: #fff;
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.cross:hover,
.cross:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.project-body {
  color: #344563;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 311px;
  height: 220px;
}

#back {
  position: absolute;
  display: none;
  width: 100vw;
  height: 1000vh;
  filter: blur(5px);
  background-color: #979493;
  mix-blend-mode: multiply;
  z-index: 5;
}

.recent-works {
  width: 100%;
  margin: 0 24px;
}

.recent-works h1 {
  font-family: "Crete Round", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 52px;
  letter-spacing: 0;
  text-align: left;
  height: 83px;
  width: 327px;
  color: #1c1a19;
  align-self: flex-start;
}

.work-list {
  display: grid;
  grid-template-rows: auto auto auto auto auto auto;
  height: auto;
  gap: 24px;
}

.work-item {
  margin-top: 80px;
}

.work-item img {
  display: block;
  margin-bottom: 24px;
}

.ham {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-self: flex-end;
  justify-content: space-between;
  height: 16px;
  width: 24px;
}

.bars {
  background-color: #fff;
  height: 2px;
  width: 100%;
}

.ham.active .bars:nth-of-type(2) {
  opacity: 0;
}

.ham.active .bars:nth-of-type(1) {
  transform: translateY(7px) rotate(45deg);
}

.ham.active .bars:nth-of-type(3) {
  transform: translateY(-7px) rotate(-45deg);
}

.icons {
  display: none;
  font-size: 32px;
  line-height: 44px;
  flex-direction: column;
  list-style: none;
  text-decoration: none;
  align-self: flex-start;
  height: 100vh;
  width: 100%;
}

a {
  text-decoration: none;
}

.icons li a {
  color: #fff5e1;
}

.work-item h1 {
  max-width: 327px;
  height: 36px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #091e42;
}

.work-item p {
  color: #091e42;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

.work-item ul {
  display: flex;
  justify-content: flex-start;
  gap: 12px;
  padding-left: 0;
  margin-bottom: 24px;
}

.work-item button {
  background: #ff6b00;
  width: 124px;
  height: 48px;
  cursor: pointer;
  align-items: center;
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
}

.work-item button:hover {
  width: 300px;
}

.button1 {
  background: #ff6b00;
  width: 124px;
  height: 48px;
  cursor: pointer;
  align-items: center;
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
}

.work-item-alt {
  max-width: 327px;
  max-height: 435px;
  background-image: url("../assets/images/bg.png");
  background-repeat: no-repeat;
  flex-direction: column;
  padding: 24px;
  overflow: hidden;
}

.work-item-alt h1 {
  font-family: "Crete Round", sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;
  width: 295px;
  color: white;
  margin: 84px 0 12px 0;
}

.work-item-alt p {
  max-width: 295px;
  height: 87px;
  font-style: normal;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 24px;
  font-size: 16px;
  color: white;
}

.work-item-alt ul {
  display: flex;
  justify-content: flex-start;
  gap: 12px;
  padding-left: 0;
}

.work-item-alt button::before {
  background: #ff6b00;
  width: 327px;
  margin-left: -24px;
  transition: width 2s, height 4s, transform 2s;
  font-style: normal;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0.03em;
  font-size: 17px;
  flex-direction: column;
  padding: 12px;
  text-align: center;
  align-items: center;
  color: white;
  text-decoration: none;
}

.work-item-alt button:hover {
  width: 300px;
}

.about-wrapper {
  background-color: #1c1a19;
  flex-direction: column;
  padding: 120px 24px;
  margin: 0;
  width: 100%;
}

.about-me {
  height: 600px;
}

.title {
  display: flex;
  gap: 0;
}

.skills {
  background-color: #1c1a19;
}

#skill-text {
  color: #fff;
  margin-left: -110px;
  align-items: center;
}

#skill-img {
  margin-left: 60px;
  align-items: center;
}

.about .title img {
  align-self: center;
  width: 18px;
  height: 18px;
  align-items: center;
  margin-left: 50px;
}

.about h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-size: 32px;
  font-weight: 400;
  line-height: 88px;
  letter-spacing: 0.37px;
  text-align: center;
  height: 79px;
  width: 327px;
  color: #fff;
  margin-left: -65px;
}

.about-wrapper .about-me .about-me1 {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-size: 72px;
  font-weight: 400;
  line-height: 88px;
  letter-spacing: 0.37px;
  text-align: left;
  height: 79px;
  width: 327px;
  color: #ff6b00;
}

.about-wrapper p {
  max-width: 327px;
  font-family: "Arial, Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  flex: none;
}

.about-me button::before {
  width: 161px;
  background: #ff6b00;
  height: 48px;
  font-style: normal;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 17px;
  transition: width 2s linear 1s;
  letter-spacing: 0.03em;
  align-items: center;
  text-align: center;
  color: white;
  text-decoration: none;
}

.about-me button:hover {
  width: 300px;
}

.about hr {
  width: 1156px;
  height: 0;
  border: 1px solid #fff;
  flex: none;
  flex-grow: 0;
}

.about ul {
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: white;
  list-style: none;
  text-align: center;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-around;
  display: flex;
  line-height: 43px;
  font-size: 22px;
  margin-left: 55px;
}

.contact-me {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 120px 24px;
  gap: 58px;
}

.contact-me p {
  max-width: 327px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-right: 24px;
  margin-left: 14px;
  max-width: 300px;
}

.text {
  width: 100%;
  height: 2.375rem;
  padding: 0.375rem 0.75rem;
  background-color: #fff;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  border: none;
  border-bottom: 2px solid #dbd8d7;
  display: flex;
  flex-direction: column;
  line-height: 24px;
  left: 45px;
  right: 45px;
  align-items: center;
  color: #979493;
}

.input-text {
  min-height: 120px;
  width: 100%;
  padding: 0.625rem;
  resize: none;
  background: #fbf8f7;
  color: #3c3a39;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.button {
  width: 131px;
  height: 48px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  padding: 12px;
  flex-direction: row;
  transition: width 2s linear 1s;
  gap: 10px;
  margin-top: 10px;
  font-weight: 700;
  border: none;
  font-size: 17px;
  background-color: #ff6b00;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  margin-left: 100px;
  color: #fff;
  flex: none;
  order: 3;
  flex-grow: 0;
}

.button:hover {
  width: 300px;
}

.hl {
  position: absolute;
  width: 370px;
  right: -30px;
  left: 10px;
  top: 900px;
  border: 1px solid;
  color: #dbd8d7;
}

.media {
  position: absolute;
  width: 200px;
  padding-bottom: 30px;
  padding-right: 30px;
  padding-left: 84px;
  height: 72px;
  display: flex;
  align-items: center;
  text-align: center;
  align-content: center;
  justify-content: center;
  top: 900px;
  left: 10px;
  right: -30px;
}

#footer {
  width: 100%;
}

#footer hr {
  width: 100%;
  height: 2px;
  border: none;
  background-color: #dfe1e6;
}

#footer .footer-content {
  max-width: 1156px;
  margin: 0 auto;
}

.network {
  display: flex;
  gap: 30px;
  align-items: center;
  max-width: 300px;
  margin: 20px auto;
  padding-top: 20px;
}

@media only screen and (min-width: 768px) {
  header {
    height: 53px;
    display: flex;
  }

  #nav-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    z-index: 1;
    width: 63px;
    height: 20px;
    flex: none;
    gap: 32px;
    order: 0;
    flex-grow: 0;
    margin-left: 960px;
    margin-top: -50px;
  }

  .project-list ul {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin-left: 25px;
    margin-bottom: 23px;
    gap: 12px;
    display: flex;
    justify-content: flex-start;
  }

  .project-list ul li {
    margin-bottom: 24px;
    padding: 10px;
    color: #091e42;
    border: 1px solid #8993a4;
    list-style: none;
  }

  #nav-icons li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
  }

  #nav-icons a {
    color: #ffff;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    line-height: 20px;
  }

  .menu {
    list-style: none;
  }

  .ham {
    display: none;
    position: absolute;
    flex-direction: column;
    align-self: flex-end;
    justify-content: space-between;
    height: 16px;
    width: 24px;
  }

  .button1 {
    display: none;
  }

  .content-home h1 {
    font-family: "Arial, Helvetica", sans-serif;
    font-weight: 400;
    font-size: 56px;
    margin-left: 44px;
    line-height: 64px;
    letter-spacing: 0.3px;
    color: #ff6b00;
  }

  .content-home h2 {
    font-family: "Arial, Helvetica", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    margin-left: 44px;
    display: flex;
    align-items: center;
    color: #fff;
  }

  .content-home p {
    font-family: " Arial, Helvetica", sans-serif;
    font-style: normal;
    font-weight: 400;
    max-width: 556px;
    font-size: 20px;
    margin-left: 44px;
    line-height: 24px;
    color: #fff;
  }

  /* hero section start */
  .hero {
    display: flex;
    background-color: #1c1a19;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  .home-content {
    display: flex;
    flex-direction: row-reverse;
    max-width: 790px;
    align-items: center;
    gap: 20px;
  }

  .content-home {
    display: grid;
  }

  .social {
    display: flex;
    flex-direction: column;
  }

  .image-hero {
    display: block;
    background-color: #1c1a19;
  }

  /* hero section end */

  /* work section end */
  .recent-works {
    max-width: 1156px;
    margin: 150px auto;
  }

  .title-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .title-section .line {
    width: 70%;
    height: 2px;
    background-color: #1c1a19;
    margin-top: -20px;
  }

  .title-section hr {
    display: none;
  }

  .fa-bars::before {
    color: #fff;
    text-decoration: none;
  }

  .work-list {
    max-width: 1156px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .work-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
  }

  .work-content {
    max-width: 448px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .work-image {
    width: 684px;
  }

  .work-item-alt button {
    display: none;
  }

  .work-item-alt {
    max-height: 435px;
  }

  .work-item-alt-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .work-item-alt1 {
    background-image: url("../assets/images/bg-work.png");
    border: 2px solid black;
    position: relative;
    max-height: 400px;
  }

  .sec-content {
    display: none;
  }

  /* work section end */

  /* about section start */
  .about-section {
    background-color: #1c1a19;
  }

  .about-wrapper {
    max-width: 1156px;
    margin: 0 auto;
  }

  .about-me {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .about-content {
    max-width: 556px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .about-content button {
    text-align: center;
  }

  .about-content p {
    max-width: 556px;
  }

  .about-me img {
    margin-left: 320px;
  }

  /* about section end */
  .skills-content {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }

  .contact-me {
    max-width: 1156px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .contact-me p {
    max-width: 455px;
    text-align: start;
  }

  .contact-me .form {
    max-width: 648px;
  }

  .form input {
    width: 648px;
  }

  .form button {
    margin-left: 0;
  }

  .menu-popup {
    background-color: #fff;
    z-index: 1;
    display: none;
  }

  .desktop-popup {
    display: none;
  }

  .seeproject {
    left: 7%;
    top: 65px;
    background-color: #fff;
    border: 1px solid #dfe1e6;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 24px;
    width: 82%;
    height: 631px;
    z-index: 10;
  }

  #pop-up-img {
    width: initial;
    height: 448px;
    margin: -32px 25px 0 24px;
  }

  .project-header {
    justify-content: space-between;
    align-items: center;
    margin: 0 0 -33px 80px;
  }

  .project-title {
    margin-left: -78px;
    font-family: 'Crete round', serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    color: #172b4d;
  }

  .crossdt {
    position: absolute;
    cursor: pointer;
    top: 28px;
    right: 20px;
    border: none;
    color: #67798e;
    float: right;
    outline: none;
    background: none;
    mix-blend-mode: multiply;
    font-size: 28px;
    font-weight: bold;
  }

  .hub {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    gap: 12px;
    width: 350px;
    position: absolute;
    bottom: 28px;
    right: 33px;
  }

  .power {
    background-color: #ff6b00;
    padding: 5px;
    font-size: 17px;
    color: #fff;
    display: flex;
    justify-content: space-around;
    width: 39%;
  }

  .cross:hover,
  .cross:focus {
    color: #000;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    cursor: pointer;
  }

  .project-body {
    color: #344563;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    /* width: 424px; */
    height: 336px;
    position: absolute;
    right: 65px;
    bottom: 129px;
  }

  #ject1 {
    background-color: #ff6b00;
    animation: none;
    transition: none;
    display: block;
    margin-top: 326px;
    height: 30px;
  }
}
